{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Softgenie - Project Detail
{% endblock %}

{% block content %}
    <div class="wrapper overlay row3">

        <div class="bg-white">
            <div class="max-w-7xl mx-auto py-8 px-4 sm:py-16 sm:px-6 lg:px-8">
                <div class="text-center">
                    <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">
                        Project Detail</p>
                    <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">What our customers have to say about us.</p>
                </div>
            </div>
        </div>

        <div class="content">
        </div>
    </div>


{% endblock %}
<div class="content">
    <div id="projects"></div>
</div>