{% extends 'base.html' %}

{% block title %}
Softgenie - Login
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger has-text-centered">
    <span>{{ message }}</span>
</div>
{% endfor %}
{% endif %}

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="box">
                    <figure class="image is-128x128 is-centered">
                        <img src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                    </figure>
                    <h2 class="title is-3 has-text-centered">
                        Sign in to your account
                    </h2>
                    <form action="" method="POST">
                        <p>Please create an account or login with existing account to register service requests pertaining to your electronic appliances.</p>
                        {% csrf_token %}
                        <input type="hidden" name="remember" value="true">
                        <div class="field">
                            <label class="label" for="username">Your Username</label>
                            <div class="control">
                                <input class="input" id="username" name="username" type="text" required placeholder="Enter Your Username">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control">
                                <input class="input" id="password" name="password" type="password" autocomplete="current-password" required placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" id="remember-me" name="remember-me">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary is-fullwidth">
                                    <span class="icon is-small">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <span>Sign in</span>
                                </button>
                            </div>
                        </div>
                        <div class="field has-text-centered">
                            <a href="#" class="is-link">Forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
