{% extends 'base.html' %}
{% load static %} 
{% block title %}
Softgenie - Login
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger has-text-centered">
    <span>{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% include 'header.html' %}
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <div class="box">
                    <figure class="image is-128x128" style="margin: 0 auto;">
                        <img src="{% static 'images/logo.png' %}" alt="SoftGenie Logo">
                    </figure>
                    <h2 class="title is-3 has-text-centered">
                        Sign in to your account
                    </h2>
                    <form action="" method="POST">
                        <p>Please create an account or login with existing account to make requests for APIs</p>
                        {% csrf_token %}
                        <input type="hidden" name="remember" value="true">
                        <div class="field">
                            <label class="label" for="username">Your Email</label>
                            <div class="control">
                                <input class="input" id="username" name="username" type="text" required placeholder="Enter Your Username">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="password">Password</label>
                            <div class="control">
                                <input class="input" id="password" name="password" type="password" autocomplete="current-password" required placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button midnight-green-bg day-color is-fullwidth">
                                    <span>Sign in</span>
                                </button>
                            </div>
                        </div>
                        <div class="field">
                            <p class="has-text-centered">
                                Not a member? <a href="{% url 'accounts:register' %}">Register here</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}


