{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Softgenie - Blog Detail
{% endblock %}

{% block content %}
    <div class="section">

        <div class="container">
            <div class="content has-text-centered">
                <p class="title is-1">
                    Blog Detail
                </p>
            </div>
        </div>

        <div class="content">
            <div id="comments">
                {% for each_testimonial in testimonials %}
                    <section class="section">
                        <div class="container">
                            
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}