{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
Softgenie - Gallery
{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="section">
    <div class="container">
        <div class="content has-text-centered">
            <p class="title is-1">
                Gallery
            </p>
        </div>
    </div>

    <div class="content">
        <div id="gallery">
            {% for post in gallery_posts %}
            <section class="section">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">
                                {{ post.title }}
                            </p>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <div class="columns is-multiline">
                                    {{ post.description|safe }}
                                    {% for image in post.images.all %}
                                    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
                                        <figure class="image is-4by3">
                                            <img src="https://softgenie.org/media/{{ image.image }}" alt="{{ image.caption }}">
                                        </figure>
                                    </div>
                                    {% endfor %}
                                </div>
                                <small>Posted on {{ post.date_posted }}</small>
                                <small>Views: {{ post.views }}</small>
                                <small>Tags:
                                    {% for tag in post.tags.all %}
                                    <span class="tag">{{ tag.name }}</span>
                                    {% endfor %}
                                </small>
                                <a href="{% url 'my-blog:gallery-post' post.id %}" class="button is-link">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}

{% endblock %}
