{% load static %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Movie API</strong> by <a href="https://example.com">Your Name</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
            <a href="https://github.com/yourusername/django_movie_api">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                GitHub
            </a>
        </p>
    </div>
</footer>