{% extends 'base.html' %} 
{% load static %} 
{% block title %} Softgenie - Home 
{% endblock %} 

{% block content %}

<body>
  {% include 'header.html' %}
  <section class="home hero is-fullheight is-default is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              <img
                src="https://picsum.photos/800/600/?random"
                alt="Description"
              />
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 class="is-2 day-color">Welcome to Django Movies API</h1>
            <h2 class="is-4 day-color">
              Explore the world of movies with our comprehensive API. Whether you are a developer or a movie enthusiast, our platform offers a wide range of features to enhance your experience.
            </h2>
            <br />
            <p class="has-text-left">
              Discover new movies, read reviews, and manage your favorite lists. Our API is designed to be easily integrated with various front-end frameworks, making it a perfect choice for your next project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'footer.html' %}
</body>

{% endblock %}
